.footer {
  background-color: $background-color1;
  padding: 22px 0;

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__copyright {
      font-style: normal;
      font-weight: 900;
      font-size: 1.3rem;
      line-height: 18px;

      color: $color-title;
    }

    .footer__social-icons {
      display: flex;
      list-style: none;
      margin: 0;
    }
  }
}