.header {
  background-color: $background-color1;
  border-bottom: 6px solid #323746;
  padding: 20px 0;

  @include media-mobile {
    padding: 24px 0;
    border: 0;
  }

  .header__container {
    display: flex;
    justify-content: space-between;

    @include media-mobile {
      justify-content: center;
    }

    .header__logo {
      margin-top: 8px;

      @include media-mobile {
        margin-top: 0;
      }

      h1::after {
        content: '*';
        color: $color-font-active;
      }
    }
    
    .header__navigation {

      @include media-mobile {
        display: none;
      }
      
      .navigation-list {
        list-style: none;
        display: flex;

        li:not(:last-child) {
          margin-right: 11px;

          &:not(:last-child)::after {
            content: '•';
            margin-left: 11px;
            color: $color-font-menu;
          }

        }

        .menu-links {
          font-style: normal;
          font-weight: 700;
          font-size: 1.2rem;
          line-height: 14px;
          letter-spacing: -0.035em;
          color: $color-font-menu;
          text-transform: uppercase;
          transition: color $transition;

          @include media-tablet {
            letter-spacing: -0.02em;
          }

          &:hover {
            cursor: pointer;
            color: $color-font-hover;
          }
          
        }

        .link-active {
          color: $color-font-active;
        }
        
      }
    }
  }
}
