.slider {
  position: relative;
  
  &__cursors {
    position: absolute;
    top: calc(50% - 20px);
    margin: 0 40px;

    .cursor-left {
      position: absolute;
      left: 0;
    }

    .cursor-right {
      position: absolute;
      right: 0;
    }
  }

  .slide-pink {
    background-color: $background-slide1;
    padding: 54px 112px 63px;
  }

  .slide-blue {
    position: relative;
    background-color: $background-slide2;
    padding: 43px 383px 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
}


.slider__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
