$background-color1: #2D303A;
$background-color2: #F2F2F2;
$background-slide1: #F06C64;
$background-slide2: #648BF0;

$border-color-icon: #666D89;
$border-color-button: #767E9E;

$color-arrow-hover: #2D303A;
$border-color-button-hover: #BBBBBB;
$border-color-button-active: #BBBBBB;
$transition: .15s ease-in-out;

$color-title: #666D89;
$color-text: #767E9E;
$color-font-menu: #ffffff;
$color-font-hover: #F06C64;
$color-font-active: #F06C64;
$color-font-button-hover: #DEDEDE;
$color-font-button-active: #DEDEDE;

$font-size-title: 3rem;
$font-size-text-section: 1.8rem;
$font-size-title-item: 1.8rem;
$font-size-text-item: 1.2rem;

$facebook: #166fe5;
$google-plus: #cd4034;
$twitter: #1d9bf0;
$linkedin: #0a66c2;

$desktop-width: 1020px;
$tablet-width: 768px;
$mobile-width: 375px;