$background-color1: #2D303A;
$background-color2: #E5E5E5;
$background-slide1: #F06C64;
$background-slide2: #648BF0;
;

$color-title: #666D89;
$color-text: #767E9E;
$font-menu: #ffffff;
$font-active: #F06C64;