$background-color1: #2D303A;
$background-color2: #F2F2F2;
$background-slide1: #F06C64;
$background-slide2: #648BF0;

$border-color-icon: #666D89;
$border-color-button: #767E9E;

$border-color-button-hover: #cacedf;
$transition: .2s ease-in-out;

$color-title: #666D89;
$color-text: #767E9E;
$color-font-menu: #ffffff;
$color-font-active: #F06C64;

$font-size-title: 3rem;
$font-size-text-section: 1.8rem;
$font-size-title-item: 1.8rem;
$font-size-text-item: 1.2rem;