html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', Verdana, sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: $color-font-menu;

  @include media-mobile {
    font-size: 2rem;
    line-height: 24px;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: $desktop-width;
  margin: auto;
  position: relative;

  @include media-tablet {
    width: $tablet-width;
  }

  @include media-mobile {
    width: $mobile-width;
  }
  
}

.container {
  width: 940px;
  margin: auto;

  @include media-tablet {
    width: 687px;
  }

  @include media-mobile {
    width: 314px;
  }

}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: $font-size-title;
  line-height: 36px;
  color: $color-title;
}

.text-section {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767E9E;
}
