html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', Verdana, sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: $color-font-menu;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1020px;
  margin: auto;
}

.container {
  width: 940px;
  margin: auto;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: $font-size-title;
  line-height: 36px;
  color: $color-title;
}

.text-section {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767E9E;
}