.social-icon {
  
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid $border-color-button;
    border-radius: 50%; 
  }

  .social-link {
    transition: border $transition, box-shadow $transition;

    svg {
      transition: filter $transition;
    }

    path {
      transition: fill $transition
    }

  }

  .facebook-link {

    @include social-icon-color($facebook);

  }

  .google-link {

    @include social-icon-color($google-plus);

  }

  .twitter-link {

    @include social-icon-color($twitter);

  }

  .linkedin-link {

    @include social-icon-color($linkedin);

  }

  &:not(:first-child) {
    margin-left: 9px;
  }

}